.font-weight-300 {
	font-weight: 300;
}

.font-weight-600 {
	font-weight: 600;
}

header {
	margin: 0;
	padding: 11px 18px;
	width: 100%;
	height: 54px;
	float: left;
	text-transform: uppercase;
	background-color: rgba($header-bg-white, 1);
	position: absolute;
	top: 0;
	z-index: 999;
	@include transition(.3s ease);

	h1 {
		margin: 0;
		padding: 0;
		font-size: 18px;
		float: left;
		margin-top: 7px;
		@include transition(.3s ease);
	}

	span.logo-bar {
		margin: 0 12px;
		display: inline-block;
		width: 3px;
		height: 32px;
		background-color: $generic-color;
		border-radius: 3px;
		float: left;
	}

	ul {
		margin: 0;
		padding: 0;
		float: right;

		li {
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: right;

			a {
				margin: 0;
				padding: 0;
			}

			a.txt-portafolio {
				font-size: 16px;
				@include transition(.3s ease);
			}

			a.txt-view {
				font-size: 10px;
				color: $generic-color;
			}
		}
	}
}

.dark-header {
	background-color: rgba($black, 0.88) !important;
	@include transition(.3s ease);

	h1 {
		color: $white;
		@include transition(.3s ease);
	}

	ul {
		li {
			a.txt-portafolio {
				font-size: 16px;
				color: $white;
				@include transition(.3s ease);
			}
		}
	}
}